<%- include('nav.ejs'); %>

<div class="container">
    <h2>Attendance Table</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Time</th>
                <th>Day</th>
                <th>Hour</th>
                <th>Started time</th>
            </tr>
        </thead>
        <tbody>
            <% extraInfo.forEach((e, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><a href="/attendanceShedule/<%= e._id %>"><b><%= e.course %></b></a></td>
                    <td><%= e.time %></td>
                    <td><%= e.day %></td>
                    <td><%= e.hour %></td>
                    <td><%= e.start.toDateString() %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>